<h1>Thank You For Your Help</h1>
<p>You have added the following new program:</p>
Program: <%= @program %><br>
Country: <%= @country %><br>
State: <%= @state %><br>
City: <%= @city%><br>
Resort: <%= @resort%><br>
Image: <%= @image %><br>
Site: <%= @site %><br>
A site staff will look into your addition as soon as possible, and add it to our site directory. Thank you!
<br><br>
To Add more programs,<a href= "localhost:3000/add_a_program">click here</a>